

        #calculator {
           width: 350px;
    background: white;
    border : solid 1px #999;
    margin: 100px auto;
    padding: 5px;
    border-radius: 5px;
        }
        input.hasil {
        align-content: center;
        border: solid 1px #999;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
        }
        input.bil {
           border: solid 1px #999;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
        }
        input.tombol {
           padding: 20px 35px;
    border: solid 1px #999;
    border-radius: 5px;
    padding: 20px;
    font-size: 20;
        }
        input.tombolCLEAR {
        border: solid 1px #999;
        border-radius: 5px;
        padding: 10px;
        background-color: skyblue;  
        }

        input.tombolsamadengan{
            font-family: verdana;    
            border: solid 1px #999;
        border-radius: 5px;
        padding: 10px;
        background-color: yellow;  
        }
